.flexy {
  width: 620px;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: space-between;
}

.flexy>* {
    flex: 1 1 160px;

    input {
       height: 10px !important;
       margin: 0px !important;
    }
  
}

.submitButton {
  margin: 20px 0px;
}

// .flexyItem>* {
//   height: 1px !important;
//   margin: 0px !important;
// }